[user]
	name = Jamie Moore
	useConfigOnly = true # Git will not guess your name and email
[core]
	editor = code --wait
    pager = cat
[merge]
    tool = vscode
	ff = only ## Only allow ff merges, so after rebase, no commit message needed
[mergetool "vscode"]
    cmd = code --wait $MERGED
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[color]
	ui = true
[credential]
	helper = osxkeychain
[push]
    default = simple # use current if you want to automatically create the current branch on the remote
[pull]
	rebase = merges
[alias]
    graph = log --graph --abbrev-commit --decorate --date=relative --all --pretty=format:'%C(bold yellow)%h%Creset -%C(yellow)%d%Creset %s %C(bold green)(%cr) %C(bold blue)<%an>%Creset'
    gb = log --abbrev-commit --date=relative --pretty=oneline
    co = checkout
    bra = branch -a -vv
    st = status
    who = shortlog -s --
    email = config --local user.email # requires email address as a parameter
    sign = "!f() { git config --local user.signingkey $(gpg --list-secret-keys --keyid-format=long | awk '/^sec|^uid/ { if ($1 == \"sec\") keyAndDate = substr($2, index($2, \"/\")+1) \" [\" $3 \"]\"; if ($1 == \"uid\") print keyAndDate \" \" substr($NF, 2, length($NF)-2) }' | fzf | cut -d\" \" -f1); }; f"
    origin = remote show origin
    fdiff = diff --name-only
    last = diff HEAD..HEAD~1
    puff = pull --ff-only
    rem = remote -v
[url "git@github.com:"]
    pushInsteadOf = git://github.com/
    pushInsteadOf = https://github.com/
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[commit]
	gpgSign = true
[pager]
#	branch = false
[init]
	defaultBranch = master
[rebase]
	autoStash = true